<html>
<head>
  <title>Mesh4x<%= ' - ' + @account.email if !@account.nil? && !@account.id.nil? %></title>
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css"/>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <%= yield :head%>
</head>
<body>
<% if @hide_title.nil? %>
  <%= link_to 'Mesh4x', {:controller => :home, :action => :index}, :id => 'title' %>
  <% if !@account.nil? && !@account.id.nil? %>
    <span id="toolbar"><%= @account.email %> | <%= link_to 'Help', 'http://code.google.com/p/mesh4x/', :target => '_blank' %> | <%= link_to 'Logoff', :controller => :home, :action => :logoff %></span>
  <% end %>
<% end %>
<%= yield %>
</body>
</html>
